<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom.css"
    />
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/about.css"
    />
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/projects.css"
    />
    <script src="https://unpkg.com/lucide@latest"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{GOOGLE_ANALYTICS}}");
    </script>
  </head>
  <body>
    <!-- Mobile menu button -->
    <button class="mobile-menu-btn">
      <i data-lucide="menu"></i>
    </button>

    <!-- Navigation -->
    <nav class="vertical-nav">
      <a href="{{ SITEURL }}/" class="nav-icon" title="Home">
        <i data-lucide="home"></i>
      </a>
      <a href="{{ SITEURL }}/about/" class="nav-icon" title="About">
        <i data-lucide="user"></i>
      </a>
      <a href="{{ SITEURL }}/projects/" class="nav-icon" title="Projects">
        <i data-lucide="folder"></i>
      </a>
      <a href="{{ SITEURL }}/blog/" class="nav-icon" title="Blog">
        <i data-lucide="rss"></i>
      </a>
    </nav>

    <div class="content">{% block content %}{% endblock %}</div>
    <canvas id="glCanvas"></canvas>

    <!-- credits: https://x.com/yuruyurau/status/1855984865080234183   -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jellyfish.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/nav.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tech-stack.js"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
